* {
    background-color: rgb(76, 77, 75);
    align-items: center;
    align-content: center;
    text-align: center;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 90%;
  max-width: 320px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(40, 41, 40);
  min-width: 314px;
  border: 1px solid #ddd;
  z-index: 1;
  max-height: 400px;
  overflow-y: auto;
}

/* Links inside the dropdown */
.dropdown-content p {
  background-color: rgb(40, 41, 40);
  color: rgb(240, 255, 244);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {background-color: #7c7b7b}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


h1 {
    color: rgb(134, 177, 134);
    font-size: clamp(2.5em, 8vw, 5.2em);
    text-shadow: 0px 3px rgb(95, 124, 95);
    font-family: monospace;
    margin-top: 20px;
    margin-bottom: 30px;
}

input {
    background-color: rgb(40, 41, 40);
    color: rgb(240, 255, 244);
    font-size: clamp(1em, 3vw, 1.5em);
    border-radius: 8px;
    margin: 4px;
    padding: 6px;
    width: 100%;
    /* margin-bottom: 32px; */
    /* border: 1px solid rgb(240, 255, 244); */
}

dialog {
    width: 90%;
    max-width: 500px;
    height: 18em;
    border-radius: 24px;
    border-style:inset;
    border-width: 6px;
    border-color: rgb(95, 124, 95);
    padding: 20px;
}

::backdrop{
    background-color: black;
    opacity: 0.3;
    
}

button {
    width: auto;
    min-width: 150px;
    height: auto;
    padding: 12px 20px;
    background-color: rgb(40, 41, 40);
    border-radius: 12px;
    font-size: clamp(0.9em, 2.5vw, 1.2em); /* wcześniej było 2cap */
    color: rgb(134, 177, 134);
    border-bottom: 2px solid black;
    margin: 16px;
    cursor: pointer
}

input::placeholder {
  color: rgba(240, 255, 244, 0.144);
}

#details {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 16px;
}


.tag {
    padding: 8px;
    width: clamp(80px, 18vw, 110px);
    font-family: monospace;
    font-size: clamp(14px, 3vw, 20px);
    color: rgb(30, 31, 30);
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;


    width: clamp(70px, 18vw, 100px);
    height: clamp(70px, 18vw, 100px);
    padding: 8px;
    margin: 6px;
    text-align: center;
    color:rgb(240, 255, 244);
    background-color: rgb(40, 41, 40);
    border: 4px solid rgb(0, 0, 0);
    border-radius: 16px;
    font-size: 2cap;
}

#all-sets {    
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 52vh;
    /* max-height: calc(60vh - 60px); wysokość ekranu minus miejsce na guzik */
    overflow-y: auto; 
}

#all-sets::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Edge */
}

.set {
    display: flex;
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.set.show {
    opacity: 1;
    transform: translateY(0);
}

#again {
    position: sticky;
    bottom: 10px;
}

/* Media query dla małych ekranów */
@media (max-width: 600px) {
    h1 {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    
    .tag {
        padding: 6px;
    }
    
    .block {
        margin: 2px;
        border-width: 3px;
    }
    
    #tags {
        margin-top: 12px;
        gap: 2px;
    }
    
    .set {
        gap: 2px;
    }
    
    #all-sets {
        gap: 12px;
        padding: 5px;
    }
}