* {
    background-color: rgb(76, 77, 75);
    align-items: center;
    align-content: center;
    text-align: center;
}

h1 {
    color: rgb(134, 177, 134);
    font-size: 8cap;
}

input {
    background-color: rgb(40, 41, 40);
    color: rgb(240, 255, 244);
    font-size: 3cap;
    border-radius: 8px;
}

#details {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.tag {
    padding: 8px;
    margin-left: 43px;
    margin-right: 43px;
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 

    box-sizing: border-box;

    width: 130px;
    height: 130px;
    padding: 16px;
    margin: 8px;
    text-align: center;
    color:rgb(240, 255, 244);
    background-color: rgb(40, 41, 40);
    border: 4px solid rgb(0, 0, 0);
    border-radius: 16px;
    font-size: 2cap;
}

