* {
    background-color: rgb(76, 77, 75);
    align-items: center;
    align-content: center;
    text-align: center;
}

h1 {
    color: rgb(134, 177, 134);
    font-size: 8cap;
    text-shadow: 0px 3px rgb(95, 124, 95);
    font-family: monospace;
}

input {
    background-color: rgb(40, 41, 40);
    color: rgb(240, 255, 244);
    font-size: 3cap;
    border-radius: 8px;
    margin: 4px;
    padding: 6px;
    margin-bottom: 32px;
    /* border: 1px solid rgb(240, 255, 244); */
}

input::placeholder {
  color: rgba(240, 255, 244, 0.144);
}

#details {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.tag {
    padding: 8px;
    width: 130px;
    font-family: monospace;
    font-size: 20px;
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;

    width: 130px;
    height: 130px;
    padding: 16px;
    margin: 8px;
    text-align: center;
    color:rgb(240, 255, 244);
    background-color: rgb(40, 41, 40);
    border: 4px solid rgb(0, 0, 0);
    border-radius: 16px;
    font-size: 2cap;
}

#all-sets {    
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.set {
    display: flex;
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.set.show {
    opacity: 1;
    transform: translateY(0);
}
