* {
    background-color: rgb(76, 77, 75);
    align-items: center;
    align-content: center;
    text-align: center;
}

h1 {
    color: rgb(134, 177, 134);
    font-size: 5.2em;
    text-shadow: 0px 3px rgb(95, 124, 95);
    font-family: monospace;
    margin-top: 20px;
    margin-bottom: 30px;
}

input {
    background-color: rgb(40, 41, 40);
    color: rgb(240, 255, 244);
    font-size: 1.5em;
    border-radius: 8px;
    margin: 4px;
    padding: 6px;
    margin-bottom: 32px;
    /* border: 1px solid rgb(240, 255, 244); */
}

dialog {
    width: 50%;
    height: 18em;
    border-radius: 24px;
    border-style:inset;
    border-width: 6px;
    border-color: rgb(95, 124, 95);
}

::backdrop{
    background-color: black;
    opacity: 0.3;
    
}

button {
    width: 16%;
    height: 2.7em;
    background-color: rgb(40, 41, 40);
    border-radius: 12px;
    font-size: 2cap;
    color: rgb(134, 177, 134);
    border-bottom: 2px solid black;
    margin: 16px;
}

input::placeholder {
  color: rgba(240, 255, 244, 0.144);
}

#details {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.tag {
    padding: 8px;
    width: 110px;
    font-family: monospace;
    font-size: 20px;
    color: rgb(30, 31, 30);
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;

    width: 110px;
    height: 110px;
    padding: 8px;
    margin: 8px;
    text-align: center;
    color:rgb(240, 255, 244);
    background-color: rgb(40, 41, 40);
    border: 4px solid rgb(0, 0, 0);
    border-radius: 16px;
    font-size: 2cap;
}

#all-sets {    
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 52vh;
    /* max-height: calc(60vh - 60px); wysokość ekranu minus miejsce na guzik */
    overflow-y: auto; 
}

#all-sets::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Edge */
}

.set {
    display: flex;
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.set.show {
    opacity: 1;
    transform: translateY(0);
}
